<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'SWN.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'SWN.Melee'}} ({{mod data.scores.str.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'SWN.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'SWN.SpokenLanguages'}} ({{localize data.languages.spoken}} {{data.langTotal}})
      </li>
      <li>
        {{localize 'SWN.Literacy'}} ({{localize data.languages.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'SWN.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'SWN.Missile'}} ({{mod data.scores.dex.mod}})
      </li>
      <li>
        {{localize 'SWN.Initiative'}} ({{mod data.scores.dex.init}})
      </li>
      <li>
        {{localize 'SWN.ArmorClass'}} ({{mod data.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'SWN.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'SWN.Health'}} ({{mod data.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'SWN.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'SWN.NPCReaction'}} ({{mod data.scores.cha.npc}})
      </li>
      <li>
        {{localize 'SWN.RetainersMax'}} ({{add data.scores.cha.mod 4}})
      </li>
      <li>
        {{localize 'SWN.Loyalty'}} ({{add data.scores.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>